<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My-space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class='navbar-brand' href='../index.html'>
            <img src='resources/img/treble_clef.png' width='30' height='30'>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Summary
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="student-list.php?course_id=10">I курс</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="row">
        <h1 class="main"
            th:text="${deck.name}"></h1>
    </div>

    <div class="row">
        <div class="list-with-add">
            <button type='button' class='btn btn-secondary add'
                    th:onclick="'window.location.href=\'/cards/addCard/' + ${deck.id} + '\';'">Add card</button>

            <button type='button' class='btn btn-secondary add'
                    th:onclick="'window.location.href=\'/decks/exportPdf/' + ${deck.id} + '\';'">Export to PDF</button>

            <table class="table">
                <tbody>
                <tr>
                    <td><b>Front</b></td>
                    <td><b>Back</b></td>
                    <td><b>Example</b></td>
                    <td><b>Status</b></td>
                    <td></td>
                </tr>

                <th:block th:each="tempCard : ${cards}">
                    <tr>
                        <td th:text="${tempCard.front}"></td>

                        <td th:text="${tempCard.back}"></td>

                        <td th:text="${tempCard.example}"></td>

                        <td th:text="${tempCard.status}"></td>

                        <td>
                            <div class='dropdown'>
                                <button class='btn btn-light'>...</button>
                                <div class='dropdown-content'>
                                    <a th:href="@{'/cards/updateCard/' + ${deck.id} + '/' + ${tempCard.id}}">update</a>

                                    <a th:href="@{'/cards/deleteCard/' + ${deck.id} + '/' + ${tempCard.id}}"
                                       onclick="if (!(confirm('Delete card?'))) return false">delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <div>
                <a th:href="@{/index}">Back</a>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>
</body>

</html>

