<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
</head>
<body>
<h1>Users</h1>
<a href="/users/create">Create New User</a>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Enabled</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.enabled}"></td>
    <td>
      <a th:href="@{/users/edit/{username}(username=${user.username})}">Edit</a>
      <a th:href="@{/users/delete/{username}(username=${user.username})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
